
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Poppins:wght@100;300;400&family=Prompt:wght@100&display=swap');
.nav-warp{
    width: 100%;
    height:70px;
    background-color: #318101;
    position: fixed;
    z-index: 10;
}
.nav-container{
    max-width:1740px;
    width:100%;
    height: 100%;
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-logo{
    width:30%;
    display: flex;
    align-items: center;
    
    padding:15px;
}
.head-logo .home-logo{
    width: 50%;
    margin-left:12px;
}
.nav-menu-container{
    width:70%;
    display: flex;
    justify-content:end;
    align-items: center;
}
.nav-menu{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    transition:0.1s ;
    /* animation: 2s linear 1s infinite running slidein; */
}
 .active{
    border-bottom: 2px solid rgb(255, 255, 255)!important ;
}
.nav-menu a:hover{
    
    
    border-bottom: 2px solid white;
}
.nav-menu-icon{
    width: 20%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.icon-facebook{
    width:25px;
    height:100%;
    transition:0.2s;
}
.icon-line{
    width:25px;
    height:100%;
    filter: brightness(0) invert(1);
    transition:0.2s;
}
a:hover  .icon-line{
    transform: scale(1.5);
}
a:hover  .icon-facebook{
    transform: scale(1.5);
}
.ham-container{
    margin-right:1rem;
}


/* .line-two{
    width: 25px;
    height:3px;
    background-color: white;
    
}
.line-three{
    width: 25px;
    height:3px;
    background-color: white;
  
} */
@media screen and (max-width:1120px) {
    .nav-menu{
        width:60%;
        
    }
}
@media screen and (max-width:900px) {
    .nav-menu{
       display: none;
        
    }
    .head-logo .home-logo{
        width:100%;
    }
    .nav-menu-icon{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .head-logo {
        width: 73%;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 15px;
    }
    .home-logo {
        width: 100%;
    }
}